<h1>Edit Article</h1>
<% if @article.user_id != current_user.id %>
  <h2>
    You don't have access to this url. |
    <%= link_to "Home", root_path %>
  </h2>
<% else %>
  <%= render "form", article: @article %>
<% end %>
